/* Adicionando responsividade */
.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    padding: 10px;
  }
  
  .character-box:active {
    transform: scale(0.95); /* Redução ao clicar para um efeito mais dinâmico */
  }
  

  
  /* Melhorando botões */
  .password-button, .back-button {
    transition: background-color 0.3s ease-in-out, transform 0.2s;
  }
  
  .password-button:hover, .back-button:hover {
    transform: scale(1.1);
  }
  